---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Apparel2 from "../components/assets/Apparel3.jpg";
import Apparel from "../components/assets/Apparel2024.jpg";
import HardDrive from "../components/assets/HardDrive.jpeg";
import Offroad from "../components/assets/Offroad2024.jpg";
import Street from "../components/assets/Street2024.jpg";
import Tires from "../components/assets/Tires2024.jpg";
import Watercraft from "../components/assets/Watercraft2024.jpg";
import Alpine from "../components/assets/Alpine.jpg";
import ATV from "../components/assets/ATV.jpg";
import FLY from "../components/assets/FLY2.jpg";
import bici from "../components/assets/Bicycle2024.jpg";
import FLYS from "../components/assets/FLYS.jpeg";
import Wiseco from "../components/assets/wiseco2.webp";
import Prox1 from "../components/assets/prox3.png";
import Prox2 from "../components/assets/prox4.png";

import ejemplo1 from "../components/assets/ejemplo1.png";
---

<Layout title="AM MOTOS - Catalogos">
  <main>
    <div>
      <h1 class="text-4xl text-center font-bold mt-16 font-outfit">
        Catalogos
      </h1>
      <p class="text-center text-xl mt-4 font-outfit font-bold">
        Aqui encontraras los catalogos de las marcas que distribuimos.
      </p>
      <div class="mx-auto flex flex-wrap justify-center py-4">
        <div class="px-2">
          <h2 class="font-outfit text-3xl py-2 font-bold">
            Como cotizar tu repuesto?
          </h2>
          <p class="py-2 font-outfit text-xl max-w-md text-gray-800">
            Dentro de nuestros catalogos encontrarás los repuestos que
            necesitas, una vez que los encuentres, copia el código <span
              class="text-black font-bold">"WPS#"</span
            > y encuentra todos los detalles en nuestro buscador de <a
              href="/cotizaciones"
              class="text-black font-bold underline">cotizaciones</a
            >.
          </p>
        </div>
        <Image
          src={ejemplo1}
          alt="Imagen de ejemplo cotizacion"
          class=""
          width={320}
          height={320}
        />
      </div>
    </div>
    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-center content-center mx-auto gap-4 max-w-[1100px] mt-16"
    >
      {
        [
          {
            src: Prox1,
            alt: "Pro-x Dirt Catalog",
            href: "https://www.pro-x.com/wp-content/uploads/2024/07/ProX-Catalog-2024-DIRT.pdf",
          },
          {
            src: Prox2,
            alt: "Pro-x Dirt Catalog",
            href: "https://www.pro-x.com/wp-content/uploads/2024/07/ProX-Catalog-2024-ATV-UTV.pdf",
          },
          {
            src: ATV,
            alt: "ATV Catalog",
            href: "http://catalogs.wps-inc.com/2025/atv/",
          },
          {
            src: Offroad,
            alt: "Offroad Catalog",
            href: "http://catalogs.wps-inc.com/2023/offroad/",
          },
          {
            src: Street,
            alt: "Street Catalog",
            href: "http://catalogs.wps-inc.com/2024/street/",
          },
          {
            src: Alpine,
            alt: "Alpine Catalog",
            href: "http://catalogs.wps-inc.com/2025/alpinestars/",
          },
          {
            src: Wiseco,
            alt: "Wiseco Catalog",
            href: "https://issuu.com/racewinningbrands/docs/wiseco24_powersports_catalog_final_web?fr=sZjllZTYzMTM0Mjg",
          },
          {
            src: Apparel2,
            alt: "Apparel Catalog",
            href: "http://catalogs.wps-inc.com/2025/apparel/",
          },
          {
            src: Apparel,
            alt: "Apparel 2 Catalog",
            href: "http://catalogs.wps-inc.com/2024/apparel-supp/",
          },
          {
            src: FLY,
            alt: "FLY Catalog",
            href: "http://catalogs.wps-inc.com/2025/fly_mx/",
          },
          {
            src: bici,
            alt: "Bicycle Catalog",
            href: "http://catalogs.wps-inc.com/2024/bicycle/",
          },
          {
            src: Watercraft,
            alt: "Watercraft Catalog",
            href: "http://catalogs.wps-inc.com/2024/watercraft/",
          },
          {
            src: HardDrive,
            alt: "Hard Drive Catalog",
            href: "http://catalogs.wps-inc.com/2024/vtwin/",
          },
          {
            src: Tires,
            alt: "Tires Catalog",
            href: "http://catalogs.wps-inc.com/2024/tires/",
          },
          {
            src: FLYS,
            alt: "FLY Catalog Street",
            href: "http://catalogs.wps-inc.com/2023/flystreet/",
          },
        ].map((item) => (
          <a href={item.href} target="_blank" rel="noopener noreferrer">
            <Image
              src={item.src}
              alt={item.alt}
              width={400}
              height={400}
              class="mx-auto flex justify-center rounded-2xl"
            />
          </a>
        ))
      }
    </div>
  </main>
</Layout>
