---
import Fetch from "../components/Fetch";
import FetchParts from "../components/FetchParts";
import SliderInfinite from "../components/UI/SliderInfinite";
import Layout from "../layouts/Layout.astro";
---

<Layout title="AM MOTOS - Novedades">
  <h1 class="font-formula text-center text-3xl md:text-5xl py-2 md:py-5">
    Cotiza todos tus <span class="underline">Repuestos</span> en un solo lugar
  </h1>
  <p
    class="text-center text-xl font-outfit mx-auto max-w-xl md:text-xl px-2"
  >
    Aqui encontraras los repuestos que necesitas, una vez que los encuentres, escribenos a nuestro whatsapp para coordinar el pago y envio.
  </p>
  <SliderInfinite />
    <div class="mt-4 px-2 mx-auto min-h-screen">
        <div class="mx-auto pt-6  md:pt-0">
        <FetchParts client:visible />
        </div>
    </div>
  
</Layout>
