---
import Layout from "../layouts/Layout.astro";
import CarouselHero from "../components/UI/Carousel";
import SliderInfinite from "../components/UI/SliderInfinite";
import "@fontsource-variable/outfit";
import Cards from "../components/Cards.astro";
import Landing from "../components/Landing.astro";
import PROX from "../components/assets/pro.avif";
import Image from "astro/components/Image.astro";
---

<Layout title="AM MOTOS - Repuestos Importados">
  <main>
    <div class="mt-3 md:mt-7">
      <CarouselHero client:visible />
      <div
        class="flex flex-col justify-center items-center gap-2 mt-14"
      >
        <a href="https://am-motos-repuestos.com.ar" target="_blank" class="">
          <span class="font-bold font-outfit text-deep-purple-500 text-3xl sm:text-4xl bg-blue-300 p-2 rounded-2xl hover:bg-blue-400 duration-300 border border-gray-400">
            Tienda Online
          </span>
        </a>
        <p
          class="font-outfit text-center font-semibold text-lg sm:text-2xl max-w-2xl mt-8 mb-2 px-2 flex md:hidden"
        >
          Cotiza online productos ProX Japon 
        </p>
        <a
            href="/prox"
            class="flex md:hidden"
          >
            <Image
              src={PROX}
              alt="whatsapp"
              class="w-40 h-14 animate-bounce hover:animate-none"
            />
          </a>  
      </div>
      <div class="max-w-2xl mx-auto">
        <h1 class="px-2 font-outfit text-center text-3xl sm:text-5xl pt-12">
          Estas buscando repuestos de calidad para tu <span
            class="font-bold text-deep-orange-500">moto</span
          > o <span class="font-bold text-deep-purple-500">atv</span>?
        </h1>
      </div>
      <div class="max-w-4xl mx-auto">
        <p
          class="px-2 font-outfit font-medium text-center text-lg sm:text-2xl pt-5"
        >
          "Cuando se trata de repuestos y accesorios de motos, somos tu destino
          número uno. En nuestro negocio de importación, nos enorgullece ofrecer
          a nuestros clientes una selección incomparable de productos de alta
          calidad que garantizan el rendimiento, la seguridad y la durabilidad.
          Ya sea que busques repuestos originales de fabricantes de renombre o
          alternativas de primer nivel, nuestra misión es proporcionarte
          opciones confiables que mantengan tu vehículo en su mejor forma. Así
          que no esperes más, ven a visitarnos y experimenta la diferencia que
          ofrecemos."
        </p>
      </div>
    </div>
    <SliderInfinite />
    <Cards />
    <Landing />
  </main>
</Layout>
